@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    background-color: #040C18;
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #040C18;
  --color-text: #f2f3f4;
  --color-subtext: #FF8A71;
}

.box {
    border: white solid;
}

.jsa__blog-page {
    color: #fff;
    background-color: #040C18;
    display: flex;
    flex-direction: column;
    
}

.jsa__blog-page p {
    margin: 2rem;
}

.jsa__header {
    display: flex;
    flex-direction: row;    
}

.jsa__header-content {
    /* flex: 1;
    display: flex; */
    justify-content: center;
    align-items: center;
    margin: 10rem;
    
}

.jsa__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;

}


.jsa__blog-page-container {
    /* flex: 1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; */
    padding: 20px;
    margin: 5rem;
}
.jsa__blog-page-container p {
    text-align: left;
}



.jsa__header-content {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;  /* Center vertically */
    margin-bottom: 5rem;
}

.jsa__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}



/* Media Query for screens up to 700px */
@media screen and (max-width: 700px) {
    .jsa__blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .jsa__blog-container {
        grid-template-columns: repeat(1, 1fr); 
        width: 100%;
    }

    .jsa__header-content h1 {
        font-size: 46px;
        line-height: 52px;
    }
}



.jsa__blog-container_article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.jsa__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    overflow: hidden;
    border-radius: 5;
}

.jsa__blog-container_article-image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.jsa__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.jsa__blog-container_article-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: #fff;
}

.jsa__blog-container_article-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    
    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}

.jsa__blog-container_article-content p:last-child {
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    .jsa__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}

.jsa__blog-tags {
    color: var(--gradient-text);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-bg);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .gradient__bg {
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  }
  
  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }

  .jsa__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.jsa__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.jsa__navbar-links_logo {
    margin-right: 2rem;
}

.jsa__navbar-links_logo img {
    width: 160px;
    height: 55px;
}

.jsa__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.jsa__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jsa__navbar-links_container p,
.jsa__navbar-sign p,
.jsa__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.jsa__navbar-sign button,
.jsa__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.jsa__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.jsa__navbar-menu svg {
    cursor: pointer;
}

.jsa__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.jsa__navbar-menu_container p {
    margin: 1rem 0;
}

.jsa__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .jsa__navbar-links_container {
        display: none;
    }

    .jsa__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .jsa__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .jsa__navbar {
        padding: 2rem;
    }

    .jsa__navbar-sign {
        display: none;
    }

    .jsa__navbar-menu_container {
        top: 20px;
    }

    .jsa__navbar-menu_container-links-sign {
        display: block;
    }
}

.jsa__articlepage {
    background-color: #040C18;

    display: flex;
    align-items: center;
    padding: 5rem;
    justify-content: center;
    flex-direction: column;
}

.jsa__articlepage img {
    max-width: 100%;
    height: 100%;
}

.jsa__articlepage h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    color: #fff;

}

.jsa__articlepage-content {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding: 2rem;
    
    
}

.jsa__articlepage-content p {
    margin-bottom: 2rem;
    
}

.jsa__articlepage-content img {
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;

}
.jsa__articlepage-date {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding: 2rem;
    font-style: italic;
}

@media screen and (max-width: 650px) {
    .jsa__articlepage {
        padding: 3rem;
    }
    .jsa__articlepage-content p {
        margin: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .jsa__articlepage {
        padding: 2rem;
        margin: 4rem;
    }

    .jsa__articlepage h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .jsa__articlepage-content,
    .jsa__articlepage-date {
        font-size: 14px;
        line-height: 24px;
    }
}


.tag-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag-button {
    margin: 4px;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .tag-button:hover {
    background-color: #0056b3;
    border-color: #004799;
  }
  

  .brand-padding {
    padding: 15px;
  }

.hero {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,59,71,1) 0%, rgba(10,30,60,1) 0%, rgba(8,24,47,1) 28%, rgba(7,20,38,1) 48%, rgba(4,12,24,1) 77%, rgba(4,12,24,1) 100%);
}


.techstack {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 60px 0; 
}

.techstack-item {
    display: flex; 
    align-items: center;
    margin-right: 20px; 
    animation: scroll 10s linear infinite;
}

.techstack-item span {
    margin-left: 10px; 
}

@keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); } 
}
